<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>مجوز دسترسی</title>
    <link href="~/Content/assets/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/Content/assets/css/pages/error/style-400.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/_custom.css" rel="stylesheet">

</head>

<body class="error404 text-center">
    <div class="container-fluid error-content">
        <div class="">
            <h1 class="error-number">403</h1>
            <p class="mini-text">فاقد مجوز دسترسی</p>
            <p class="error-text mb-4 mt-1">کاربر محترم، اطلاعات پایه ای/تکمیلی شما کامل نمی باشد. لطفا ابتدا تکمیل کنید سپس از سرویس مورد نظر استفاده نمائید</p>
            <a href="/Home" class="btn btn-primary mt-5">صفحه اصلی</a>
        </div>
    </div>
    <script src="~/Content/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>