@using G_APIs.Models.ComponentModels
@model FormTitle
@{
    IHtmlString defaultIcon = Html.Raw("<svg viewBox=\"0 0 24 24\" width=\"42\" height=\"42\" class=\"main-grid-item-icon\" fill=\"none\" stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.50\"><rect height=\"14\" rx=\"2\" ry=\"2\" width=\"20\" x=\"2\" y=\"3\" /><line x1=\"8\" x2=\"16\" y1=\"21\" y2=\"21\" /><line x1=\"12\" x2=\"12\" y1=\"17\" y2=\"21\" /></svg>");
    IHtmlString svg = Model.Icon ?? defaultIcon;
}

<script>
    var formHeader = $("div.row.statbox.widget.box.box-shadow.form-header");
    formHeader.html(`<div class="form-icon">@svg </div><div class="header-info"><h6><b> @(Model.Title) </b></h6><p>@(Model.Description)</p></div>`);
</script>