@model string

<style>
    .gold-hr {
        margin-top: 0 !important;
        border-top: 1.5px solid #999 !important;
    }
</style>

<h3>
    <svg viewBox="0 0 24 24" width="42" height="42" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.50">
        <rect height="14" rx="2" ry="2" width="20" x="2" y="3" fill="#FDC500" />
        <line x1="8" x2="16" y1="21" y2="21" />
        <line x1="12" x2="12" y1="17" y2="21" />
    </svg>
    |
    <b>@Model</b>
</h3>
<hr class="gold-hr" />