<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Gold </title>

    <link href="~/Content/assets/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/loaders/custom-loader.css" rel="stylesheet" type="text/css">
    <link href="~/Content/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/_custom.css" rel="stylesheet" />
    <script src="~/Content/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/authentication/form-1.js"></script>
    <script src="~/Content/plugins/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="~/Content/plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="~/Content/plugins/blockui/jquery.blockUI.min.js"></script>
    <script src="~/Content/assets/js/Helper.js"></script>
</head>

<body class="form">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    </div>

    <script>
        function GetCaptcha() {
            $.ajax({
                url: '/Account/GetCaptcha',
                method: "GET",
                success: function (res) {
                    if (res != undefined || res != null) {
                        let src = "/Content/Captcha/" + res;
                        $('#img-captcha').attr("src", src)
                    }
                },
                error: function (xhr, status, error) {
                    $('.registerResult').html('خطایی رخ داده لطفا دوباره تلاش نمایید.').show();
                }
            });
        }
        $(function () {
            setInterval(GetCaptcha, 60000);
        });
    </script>
</body>
</html>
