@using G_APIs.Models
@using G_APIs.Models.ComponentModels
@model UsersList
@{
    Layout = null;
}

<div class="modal fade" id="mdlChangeUserRole" tabindex="-1" role="dialog" aria-labelledby="mdlChangeUserRole" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form form class="frmUpdateUserRole" id="frmUpdateUserRole" action="javascript:void(0);" novalidate>
                @Html.HiddenFor(x => x.UserId)
                <div class="modal-body">
                    @using (Html.Box(title: "تغییر سطح دسترسی کاربر", col: 12, iconType: BoxIconTypes.form))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mt-3">
                                    <div class="form-group">
                                        <label for="Roles">سطح دسترسی</label>
                                        @Html.DropDownListFor(x => x.Roles, (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "select2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="result"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">بستن</button>
                    @Html.Partial("_GoldButton", new GoldButton()
                    {
                        ButtonType = GoldButtonTypes.submit,
                        Name = "btnSubmit",
                        Icon = "fa fa-save fa-1x",
                        Class = "btn btn-success",
                        Text = "ذخیره"
                    })
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("_ModalLayout")

<script>
    $('#frmUpdateUserRole').ajaxForm({
        validation: true,
        url: '/Account/ChangeUserRole',
        jwt: true,
        blockui: true,
        mixin: true,
        target: ".result",
        success: function (data) {
            if (data && data.result) {
                $('#mdlChangeUserRole').modal('hide');
                $('#btnSearch').trigger('click');
            }
        }
    });
</script>