@using G_APIs.Models.ComponentModels
@model G_APIs.Models.User
@{
    Layout = "~/Views/Shared/_LayoutSign.cshtml";
}

<div class="form-content">
    <h1 class="register-header"> فراموشی رمز عبور <a href="#"><span class="brand-name"> نام کاربری </span></a></h1>
    <form id="frmForgotPassword" class="clearfix" action="javascript:void(0);" novalidate>
        @Html.EditorFor(x => x.Username)
        @Html.EditorFor(x => x.NationalCode)
        @Html.Partial("_GoldButton", new GoldButton()
{
    ButtonType = GoldButtonTypes.submit,
    Name = "btnForget",
    Icon = "fa fa-check fa-2x",
    Class = "btn btn-primary",
    Text = "ادامه",
    OnClick = "performForget()"
})
    </form>
</div>