@using G_APIs.Models
@model BuyVM
@{
    string price = Model.CurrentCalculatedPrice.ToString("N0");
}

<div class="row layout-top-spacing">
    <div id="custom_styles" class="col-lg-12 layout-spacing col-md-12">
        <h3><b>باکس خرید</b></h3>
        <div class="statbox widget box box-shadow">
            <form form class="frmBuy" id="frmBuy" action="javascript:void(0);" novalidate>
                <div class="row">
                    <div class="col-md-4">
                        <label for="CurrentCalculatedPrice">قیمت آنلاین</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="CurrentCalculatedPrice-addon">ريال</span>
                            </div>
                            <input name="CurrentCalculatedPrice" type="text" class="form-control text-right" value="@price" aria-describedby="CurrentCalculatedPrice-addon" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="Weight">وزن درخواستی</label>
                        <div class="mb-3">
                            <input name="Weight" type="number" class="form-control text-right" value="@Model.Weight" aria-describedby="Weight-addon" required>
                            <div class="invalid-feedback">
                                وارد کردن این گزینه الزامیست
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                            <label for="Carat">عیار</label>
                            <div class="mb-3">
                                @Html.DropDownList("Carat", Model.Carat)
                            </div>
                        </div>*@
                </div>
                <div class="field-wrapper mt-3">
                    <button class="btn btn-outline-primary submit-fn col-md-2 float-right" type="submit">
                        <i class="fa fa-calculator fa-2x"></i>
                        محاسبه و خرید
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    $(function () {
        var inpPrice=$("input[name='@nameof(Model.CurrentCalculatedPrice)']");
        var interval = 1000;
        var dowhile;
        function getOnlinePrice() {
            $.ajax({
                type: 'POST',
                url: '/Store/GetOnlinePrice',
                success: function (data) {
                    if ($.isNumeric(data)) {
                        var formattedData = Number(data).toLocaleString('en');
                        inpPrice.val(formattedData);
                        inpPrice.css("background-color", "#25b61738");
                        setTimeout(getOnlinePrice, interval);
                    } else {
                        window.location = "/Account/Login";
                    }
                },
                error: function (data) {
                    clearTimeout(dowhile);
                }
            });
        }
        dowhile = setTimeout(getOnlinePrice, interval);
    })
    $('#frmBuy').ajaxForm({
        validation: true,
        url: '/Store/SubmitBuy',
        jwt: true,
        blockui: true,
        mixin: true,
        success: function (response) {
            console.log(response)
        }
    });
</script>
