@using G_APIs.Models
@model  Dashboard

<div class="row gold-row">
    @using (Html.Box("نمودار یک", col: 8))
    {
        @Html.Action("Chart1", "Home")
    }
    @using (Html.Box("نمودار دو", col: 4))
    {
        @Html.Action("Chart2", "Home")
    }
</div>
<div class="row gold-row">
    @using (Html.Box("نمودار سه", col: 8))
    {
        @Html.Action("Chart3", "Home")
    }
    @using (Html.Box("کیف پول", col: 4))
    {
        @Html.Action("Wallet", "Fund")
    }
</div>