@using G_APIs.Models
@using G_APIs.Models.ComponentModels
@model  Dashboard
@{
    int roleId = ViewBag.UserRoleId;


}

<div class="row gold-row">
    @if (roleId == 11)
    {
        @Html.Action("GoldRepositoryStatusChart", "Store")
        using (Html.Box("کیف پول", col: 6, iconType: BoxIconTypes.info))
        {
            @Html.Action("Wallet", "Fund")
        }
    }
    else
    {
        using (Html.Box("کیف پول", col: 6, iconType: BoxIconTypes.info))
        {
            @Html.Action("Wallet", "Fund")
        }
    }
</div>