@model G_APIs.Models.Dashboard

<div class="row layout-top-spacing">

    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">

        <div class="widget widget-chart-one">
            <div class="widget-heading">
                <h5 class="">نمودار 1</h5>
                @* <ul class="tabs tab-pills">
                    <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Monthly</a></li>
                    </ul> *@
            </div>

            <div class="widget-content">
                <div class="tabs tab-content">
                    <div id="content_1" class="tabcontent">
                       @Html.Action("Chart1","Home") 

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-chart-two">
            <div class="widget-heading">
                <h5 class="">    نمودار 2</h5>
            </div>
            <div class="widget-content">
                 @Html.Action("Chart2","Home")
                
            </div>
        </div>
    </div>


    <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-chart-three">
            <div class="widget-heading">
                <div class="">
                    <h5 class="">نمودار 3</h5>
                </div>
            </div>

            <div class="widget-content">
                 @Html.Action("Chart3","Home")
            </div>
        </div>
    </div>


    @**@<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
       @Html.Action("Wallet", "Fund")
    </div>


</div>


