@using G_APIs.Models
@model  List<WalletCurrency>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deposit</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
