@using G_APIs.Models
@model List<WalletBankAccount>
@{
    Layout = null;
}

<style>
    #rtpBankAccounts img {
        width: 40px;
    }
</style>


        <table id="rtpBankAccounts" class="datatable table table-hover non-hover" style="width:100%">
            <thead>
                <tr>
                    <th>بانک</th>
                    <th>شماه کارت</th>
                    <th>شبا  </th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr class="table-success">
                        <td><img src="~/Content/assets/img/bank/@b.LogoPath" /> </td>
                        <td>@b.BankAccountNumber </td>
                        <td>@b.Shaba </td>
                        <td>
                            <a id="" href='@Url.Action("ToggleBankCard")?id=@b.Id' title="">
                                @if (b.Status == 1)
                                {
                                    <div class="td-content"><span class="badge outline-badge-danger">غیر فعال کردن</span></div>
                                }
                                @if (b.Status == 0)
                                {
                                    <div class="td-content"><span class="badge outline-badge-success">  فعال کردن</span></div>
                                }
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

@Html.Partial("_LayoutReport"); 

