@{
    Layout = null;
}
<div class="widget widget-account-invoice-one">

    <div class="widget-heading">
        <h5 class="">کیف پول</h5>
    </div>

    <div class="widget-content">
        <div class="invoice-box">

            <div class="acc-total-info">
                <h5>اطلاعات حساب</h5>
                @* <p class="acc-amount">@Model.Balance</p> *@
            </div>

            <div class="inv-detail">

                <div class="info-detail-1">
                    <p> پول</p>
                    <p> 259000 - ریال  </p>
                </div>

                <div class="info-detail-1">
                    <p>  طلا</p>
                    <p> 3- گرم  </p>
                </div>
                @* <div class="info-detail-3 info-sub">
                        <div class="info-detail">
                            <p>Extras this month</p>
                            <p>  -0.68</p>
                        </div>
                        <div class="info-detail-sub">
                            <p>Netflix Yearly Subscription</p>
                            <p>  0</p>
                        </div>
                        <div class="info-detail-sub">
                            <p>Others</p>
                            <p>  -0.68</p>
                        </div>
                    </div> *@
            </div>

            <div class="inv-action">
                <a href="" class="btn btn-success">واریز</a>
                <a href="" class="btn btn-danger">برداشت</a>
            </div>
        </div>
    </div>

</div>
